$first-color: #03a776;
$second-color: #f4f4f4;
$third-color: #03a776;
$font-color: #fff;
$font-color2: #000;
$footer: rgb(30, 30, 30);

$black: rgb(30, 30, 30);

.testimonial-hover-text{
    background-color: rgb(3, 167, 118, 0.5);
}

.bg-secondary{
    background-color: $first-color;

}

.bg-primary{
    background-color: $third-color;
    color: $font-color;
}

.profitCounter{
    background-color: $second-color;
}

.noUi-tooltip, .noUi-connect{
    background-color: $first-color;
}
.noUi-tooltip{
    border: 1px solid $first-color;

}
.noUi-horizontal .noUi-handle{
    border: 4px solid $first-color;
}
.action-title {
   color: $third-color
}
.second-color{
    background: $second-color;
}
footer{
    background-color: $footer;
}
form.form-container button[type="submit"], .yellow-btn, .yellow-btn-reviews, .bg-btn-primary{

    background-color: $third-color;
    color: $font-color
}
.dark-purple, .testimonials-header{
    color: $font-color2
}